[core]
	trustctime = false
	editor = vim
	pager = delta
	filemode = true
	autolf = true
	excludesfile = "${MINE_DIR}/etc/git/excludes"
	hooksPath = ~/.gitsettings/hooks
	autocrlf = input
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[delta]
	navigate = true
[diff]
	guitool = vimdiff
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[push]
	default = simple
[user]
	name = Fabien HIEGEL
	email = fhiegel@maisonsdumonde.com
[branch]
	autosetupmerge = always
	autosetuprebase = always
[includeIf "gitdir:**\.?mine/*"]
	path = "${MINE_DIR}/etc/git/.gitconfig"
[includeIf "gitdir:/mnt/c/**/*"]
	path = "${MINE_DIR}/etc/git/.gitconfig-windows"

[alias]
	a = add
	aa = add --all
	ap = add --patch
	b = branch
	#co = checkout
	cf = checkout -f
	cb = checkout -b
	#ci = commit
	#cim = commit -m
	com = commit
	#cp = cherry-pick
	#cl = clone
	#p = pull
	#r = rebase
	s = status
	st = status -sbu
	sl = status -bu
	alias = config --get-regexp alias
	master = "!git add --all; git stash save; git checkout -f master; git pull origin master --no-commit"
	amend = "!git commit --amend --no-edit"
	pull-safe = "!git add --all && git stash save && git pull --no-commit && git stash pop"
	fixup = "!f(){ tofix=${1:-$(git log --pretty=\"%H|%s\" | grep -v \"|fixup\" | head -1 | cut -d '|' -f1)}; git commit -a --fixup=$tofix; }; f"
	quick = "!f(){ branchname=${1:-$(git rev-parse --abbrev-ref HEAD)}; git -c user.name=\"Quicker\" -c user.email='' commit -an -m \"Quick-commit on (${branchname})\"; };	f"
	save= "!git commit -an -m \"wip: Work in Progress savagely saved.\""
	last = log -1 --stat
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = "!git ls-files -v | grep ^h | cut -c 3-"
	user-mine = "config --add user.email fabien.hiegel@gmail.com"
	push-please         = "!git push --force-with-lease"
	push-first          = "!git push -u origin `git rev-parse --abbrev-ref HEAD`"
	delete-merged-remote= "!git remote prune origin && git branch -r --merged origin/master | grep -v master | grep \"origin/\" | cut -d \"/\" -f 2- | xargs -n 20 git push --delete origin"

